<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="$safeprojectname$.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UnityApi.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <$safeprojectname$.Properties.Settings>
                <setting name="Evironment" serializeAs="String">
                        <value>Development</value>
                </setting>
                <!-- Set the document handle for testing-->
                <setting name="Item" serializeAs="String">
                        <value></value>
                </setting>
                <setting name="AppServer" serializeAs="String">
                        <value>https://[server]/AppServer64/service.asmx</value>
                </setting>
                <setting name="DataSource" serializeAs="String">
                        <value>Onbase</value>
                </setting>
                <!-- Set a Life Cycle that matches the item type specified above. The item does not need to be in the life cycle -->
                <setting name="LifeCycle" serializeAs="String">
                        <value>{life cycle}</value>
                </setting>
                <!-- Set a Queue from the above life cycle that matches the item type specified above. The item does not need to be in the Queue -->
                <setting name="Queue" serializeAs="String">
                        <value>Initial</value>
                </setting>
                <setting name="UserName" serializeAs="String">
                        <value>{User}</value>
                </setting>
                <setting name="Password" serializeAs="String">
                        <value>{password}</value>
                </setting>
			          <!-- Content Type: "Document" is all that is currently supported.-->
                <setting name="ContentType" serializeAs="String">
                        <value>Document</value>
                </setting>
        </$safeprojectname$.Properties.Settings>
    </userSettings>
</configuration>